<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<h2>Please fill up form to sign up process: </h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" value="Prince">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" value="Kumar">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" value="princeofficial88@gmail.com">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" value="*********">
  </mat-form-field>
  <mat-radio-group>
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="2">Female</mat-radio-button>
  </mat-radio-group><br><br>
  <mat-form-field>
    <mat-select placeholder="State">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
    <br><br>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment" value="I am good here"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary">Sign Up</button>
</form>
